{% extends "base.html" %}
{% block title %}Create Card{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}

    <form action="{{ url_for('add_card') }}" method="POST">
        <div class="form-group">
            <label for="name">Card Name:</label>
            <input required="required" type="text" class="form-control is-invalid" id="name" name="name">
            <div class="invalid-feedback">Enter a valid card name</div>
        </div>

        <div class="form-group">
            <label for="description">Description:</label>
            <input required="required" type="text" class="form-control is-invalid" id="description" name="description">
            <div class="invalid-feedback">Enter a valid card description</div>
        </div>

        <div class="form-group">
            <label for="state">Select State:</label>
            <select class="form-control" id="state" name="state">
                <option>Low Priority</option>
                <option>Medium Priority</option>
                <option>High Priority</option>
                <option>Urgent Priority</option>
            </select>
        </div>

        <div class="form-group">
            <label for="creator">Card Creator:</label>
            <select class="form-control" id="creator" name="creator">
                {% for user in users %}
                    <option>{{ user['name'] }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="owner">Card Owner:</label>
            <select class="form-control" id="owner" name="owner">
                {% for user in users %}
                    <option>{{ user['name'] }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="label">Set Label:</label>
            <select class="form-control" id="label" name="label">
                <option>Backlog</option>
                <option>In Progress</option>
                <option>In Review</option>
                <option>Done</option>
            </select>
        </div>

        <div class="form-group">
            <label for="due_date">Due Date:</label>
            <input type="date" name="due_date" min="1000-01-01" max="3000-12-31" class="form-control">
        </div>

        <div class="form-group">
            <label for="board">Board:</label>
            <select class="form-control" id="board" name="board">
                {% for board in boards %}
                    <option>{{ board['name'] }}</option>
                {% endfor %}
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Add Board</button>
    </form>

{% endblock %}