{% extends "base.html" %}
{% block title %}Edit Card{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}

    {% for item in specific_card %}

        <form action="{{ url_for('update_edit_card') }}" method="POST">
            <div class="form-group">
                <label for="name">Update Card Name:</label>
                <input required="required" type="text" class="form-control" id="name" name="name"
                       value="{{ item['name'] }}">
            </div>

            <div class="form-group">
                <label for="description">Update Description:</label>
                <input required="required" type="text" class="form-control" id="description" name="description"
                       value="{{ item['description'] }}">
            </div>

            <div class="form-group">
                <label for="state">Update State:</label>
                <select class="form-control" id="state" name="state">
                    <option class="text-info">{{ item['state'] }}</option>
                    <option>Low Priority</option>
                    <option>Medium Priority</option>
                    <option>High Priority</option>
                    <option>Urgent Priority</option>
                </select>
            </div>

            <div class="form-group">
                <label for="owner">Update Card Owner: </label>
                <select class="form-control" id="owner" name="owner">
                    <option class="text-info">{{ item['owner'] }}</option>
                    {% for user in users %}
                        <option>{{ user['name'] }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="label">Update Label:</label>
                <select class="form-control" id="label" name="label">
                    <option class="text-info">{{ item['label'] }}</option>
                    <option>Backlog</option>
                    <option>In Progress</option>
                    <option>In Review</option>
                    <option>Done</option>
                </select>
            </div>

            <div class="form-group">
                <label for="due_date">Update Due Date:</label>
                <input type="date" name="due_date" min="1000-01-01" max="3000-12-31" class="form-control"
                       value="{{ item['due_date'] }}">
            </div>

            <div class="form-group">
                <label for="board">Update Board:</label>
                <select class="form-control" id="board" name="board">
                    <option class="text-info">{{ item['board'] }}</option>
                    {% for board in boards %}
                        <option>{{ board['name'] }}</option>
                    {% endfor %}
                </select>
            </div>

            <input type="hidden" name="previous_owner" value="{{ item['owner'] }}">

            <button type="submit" class="btn btn-primary">Update</button>
        </form>

    {% endfor %}

{% endblock %}