{% extends "base.html" %}
{% block title %}User List{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}

    <div class="text-right mt-1 mb-1">
        <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#delete-user">
            Delete User
        </button>
    </div>

    <div class="modal" id="delete-user">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Delete User</h4>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <form action="{{ url_for('delete_user') }}" method="POST">

                        <div class="form-group">
                            <label for="username">Select User:</label>
                            <select class="form-control" id="username" name="username">
                                {% for user in users %}
                                    <option>{{ user['name'] }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <button type="submit" class="btn btn-primary">Delete User</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-striped" id="name-list">

        <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Email</th>
            <th>Profession</th>
            <th>Team</th>
            {#            <th></th>#}
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user['id'] }}</td>
                <td>{{ user['name'] }}</td>
                <td>{{ user['email'] }}</td>
                <td>{{ user['title'] }}</td>
                <td>{{ user['team'] }}</td>
                {#                <th>#}
                {#                    <button type="button" class="btn btn-outline-secondary">Edit</button>#}
                {#                </th>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}